:root {
  --primary: #faeed1;
  --primary-dark: #ded0b6;
  --primary-darker: #bbab8c;
  --headline-color: #f9f9f9;
  --text-color: #7e7e7e;
  --bg: #1c1c1c;
  --footer-bg: #161616;
  --secondary: #2e2e2e;
  --footer-border: #3e3e3e;
  --gray-border-hover: #505050;
  --gray-menu-button: #7e7e7e;
  --gray-menu-button-hover: #232323;
  --navbar-height: 64px;
  --gray-text-hover: #8f8f8f;
  --gray-icon: #a0a0a0;
  --footer-width: 64rem;
}

.content {
  background-image: url("../imgs/headerBackground.png");
  background-position: top;
  background-repeat: no-repeat;
}
main {
  backdrop-filter: blur(5.1px);
}
.search {
  margin-top: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background-color: white;
  opacity: 0.7;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  z-index: 0;
  width: 60%;
  border-color: var(--primary);
  border-style: solid;
  border-width: 1px;
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.search-input {
  z-index: 0;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
}
.search-input::placeholder,
.search-icon {
  z-index: 0;
  color: rgba(0, 0, 0, 0.5);
}
h1 {
  font-size: 3.5rem;
  text-align: center;
  color: white;
}
h3 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.quick-search {
  justify-content: center;
  margin-bottom: 50px;
}
.search-box {
  border-radius: 10%;
  margin: auto;
  backdrop-filter: blur(5.1px);
  width: 100%;
  text-shadow: 2px 2px #161616;
}
.animal-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}
.animal-search > a > img {
  margin-left: auto;
  margin-right: auto;
  height: 225px;
  width: 225px;
  border-radius: 10%;
  opacity: 1;
}
.options > li {
  border-radius: 10%;
}
.adoptionTips {
  width: 100%;
  text-align: left;
  display: flex;
}
.FAQheader,
.avPets,
.Articleheader {
  font-size: 3rem;
  color: var(--secondary);
  text-shadow: 2px 2px var(--primary-darker);
  margin-bottom: 40px;
  padding-top: 40px;
}
.FAQlink {
  text-decoration: none;
  color: black;
}
.FAQimages {
  display: flex;
  margin: auto;
  width: 35%;
  height: 35%;
}

.FAQcardContent {
  background-color: var(--primary-dark);
  opacity: 0.8;
  border-radius: 5%;
  padding: 2%;
}
h2 {
  text-align: center;
  size: 30%;
}
.FAQButton {
  display: table-cell;
  margin-left: 25%;
  width: 50%;
  height: 40px;
  border-radius: 30px;
  vertical-align: middle;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.FAQcard {
  width: 30%;
  height: 50%;
  gap: 2rem;
  margin: auto;
}
.FAQinfo {
  text-align: center;
}
.FAQDetails {
  text-align: center;
  height: 15%;
  margin-bottom: 20px;
}
.FAQimages {
  margin-bottom: 20px;
}

.searchCards {
  height: 100%;
  background-color: var(--primary-darker);
  opacity: 0.85;
  border-radius: 5%;
}
.searchCards > img {
  margin: 5%;
}
.mainBottom {
  background-color: var(--primary);
  opacity: 0.95;
}
.FAQButton:hover {
  background-color: var(--secondary);
  color: white;
  transition-duration: 0.5s;
}
.FAQcard:hover {
  border: 3px solid var(--secondary);
  border-radius: 5%;
}
.searchCards:hover {
  box-shadow: 2px 2px 2px 2px #161616;
  transition-duration: 0.2s;
}
