:root {
  --primary: #faeed1;
  --primary-dark: #ded0b6;
  --primary-darker: #bbab8c;
  --primary-light: #edebe4;
  --primary-disabled: #363435;
  --primary-lighter: #454344;
  --secondary: #1d1d1d;
  --text: #11181c;
  --text-gray: #687076;
  --text-placeholder: #8890a7;
  --border: #dfe3e6;
  --btn-bg: #535353;
  --input-bg: #f1f2f3;
  --background: #f8f8ff;
}

body {
  font-size: 16px;
  background-color: var(--primary-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.socials-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.socials-row img {
  width: 1.5rem;
  height: 1.5rem;
}

.socials-row > a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 2.75rem;
  display: flex;
  gap: 0.75rem;
  color: var(--text);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--text);
  padding: 0.5rem;
  border: 1px solid var(--border);
  transition: all 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

.socials-row > a:hover {
  border: 1px solid var(--primary);
}
button:hover {
  background-color: var(--btn-bg);
}
.socials-row > a:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 3px;
}

.divider {
  display: flex;
  flex-direction: row;
  color: var(--secondary);
  gap: 1rem;
  align-items: center;
}

.divider-line {
  width: 100%;
  height: 1px;
  background: var(--secondary);
  opacity: 0.2;
}

.form-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 1rem;
  max-height: 200rem;
  height: 100%;
  width: 100%;
}

.form-side {
  padding: 0rem 3rem 0rem 3rem;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--primary-light);
}

.welcome-message {
  max-width: 22.5rem;
}

.logo {
  height: 4rem;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
}

.my-form {
  opacity: 0.95;
  border-radius: 5%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1.25rem;
  max-width: 26rem;
  width: 100%;
  padding: 25px;
}

.form-welcome {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.form-welcome-row {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.my-form__button {
  background: var(--secondary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  line-height: 3.125rem;
  outline: none;
  font-size: 1.125rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  min-height: 3.125rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.my-form__actions {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
}

.my-form__actions a {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
}

.my-form__actions a:hover {
  text-decoration: underline;
}

.my-form__row {
  display: flex;
  justify-content: space-between;
}

.my-form__signup {
  display: flex;
  justify-content: center;
}

.my-form__signup a {
  color: var(--primary);
  font-weight: 800;
  text-decoration: none;
  font-size: 1.125rem;
}

.my-form__signup a:hover {
  text-decoration: underline;
}

.text-field input {
  color: var(--secondary);
  border: 1px solid var(--border);
  font-size: 1rem;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  background-color: white;
  height: 3rem;
  letter-spacing: 0.03rem;
  outline: none;
  transition: 0.25s;
  border-radius: 0.5rem;
  text-indent: 1.5rem;
  margin-top: 0.25rem;
}
.text-field input:focus {
  border: 1px solid var(--text);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

.text-field {
  position: relative;
}

.text-field svg {
  position: absolute;
  right: -0.125rem;
  bottom: -0.25rem;
  width: 1.875rem;
  height: 1.875rem;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.text-field label {
  color: var(--secondary);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  z-index: 10;
}

/* aside */
.info-side {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: url("../imgs/headerBackground.png");
  background-position: center;
  max-height: 90rem;
}

.info-side .blockquote-wrapper {
  gap: 1rem;
  position: relative;
  padding: 1rem;
  max-width: 27rem;
  background: white;
  border-radius: 1rem;
  opacity: 0.9;
}
.backfilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5.1px);
}
.meetour {
  margin-top: 10%;
  font-size: 3rem;
  color: var(--secondary);
  text-shadow: 2px 2px var(--primary-darker);
}
.info-side .blockquote-wrapper img {
  width: 25rem;
  height: 25rem;
}

.info-side .blockquote-wrapper blockquote {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
}

.info-side .author {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.info-side .author img {
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
}

.info-side .author-name {
  font-weight: 600;
  color: var(--text);
}

@media (max-width: 720px) {
  .form-wrapper {
    grid-template-columns: 1fr;
  }

  .info-side {
    display: none;
  }
}
.returns {
  width: 100%;
  height: 100%;
}
