@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary: #e1afd1;
  --primary-dark: #ad88c6;
  --primary-darker: #7469b6;
  --headline-color: #f9f9f9;
  --text-color: #7e7e7e;
  --bg: #1c1c1c;
  --footer-bg: #161616;
  --secondary: #2e2e2e;
  --footer-border: #3e3e3e;
  --gray-border-hover: #505050;
  --gray-menu-button: #7e7e7e;
  --gray-menu-button-hover: #232323;
  --navbar-height: 64px;
  --gray-text-hover: #8f8f8f;
  --gray-icon: #a0a0a0;
  --footer-width: 75rem;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  min-width: 18rem;
  overflow: auto;
  bottom: 0;
  background-color: var(--footer-bg);
  width: 100%;
  display: flex;
  flex-direction: column;
}

*::selection {
  background: var(--primary);
  color: var(--footer-bg);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--footer-width);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.footer-logo-column {
  padding-right: 10%;
}

.footer-logo {
  margin-bottom: 1.5rem;
  width: 14rem;
}

.social-wrapper {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.social-links {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.social-links a {
  color: var(--text-color);
  text-decoration: none;
}

.social-links svg {
  width: 2.5rem;
  height: 2.5rem;
  stroke: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.social-links svg:hover {
  stroke: var(--headline-color);
}

.social-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  list-style-type: none;
}


.FooterColumns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  flex-grow: 1;
}

.FooterColumns > div {
  flex-grow: 1;
  display: flex;
  gap: 2rem;
}
.FooterColumns > div > section {
  min-width: 8rem;
  width: 50%;
}
.FooterColumns ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-weight: 600;
}

.FooterColumns ul a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.FooterColumns ul a:hover {
  color: var(--headline-color);
}

.FooterColumns h3 {
  color: var(--headline-color);
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.footer-bottom {
  margin-top: 8rem;
  width: 100%;
  color: var(--text-color);
}

.footer-bottom-wrapper {
  max-width: var(--footer-width);
  margin: 0 auto;
  width: 100%;
  padding: 2.5rem 1rem;
  border-top: 1px solid var(--footer-border);
}

.footer-bottom small {
  font-size: 1rem;
  display: inline;
  white-space: nowrap;
}

.footer-bottom > small {
  font-size: 1rem;
  width: 100%;
}
section > h3 {
  text-align: left;
}
@media screen and (min-width: 600px) {
  .FooterColumns > div > section {
    min-width: auto;
  }
}
