:root {
  --primary: #faeed1;
  --primary-dark: #e9e2d5;
  --primary-light: #edebe4;
  --primary-darker: #bbab8c;
  --headline-color: #f9f9f9;
  --text-color: #7e7e7e;
  --bg: #1c1c1c;
  --footer-bg: #161616;
  --secondary: #2e2e2e;
  --footer-border: #3e3e3e;
  --gray-border-hover: #505050;
  --gray-menu-button: #7e7e7e;
  --gray-menu-button-hover: #232323;
  --navbar-height: 64px;
  --gray-text-hover: #8f8f8f;
  --gray-icon: #a0a0a0;
  --footer-width: 64rem;
}
body {
  background-color: var(--primary-light);
}
a {
  color: var(--primary-darker);
}
.container {
  display: flex;
  width: 100%;
  margin-left: 7.5%;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
}

.container-left {
  display: inline-flex;
  margin: 1%;

  flex-direction: row;

  gap: 20px;
}
.firstContent {
  width: 100%;
}
.firstContent .left-top {
  font-size: x-large;

  font-family: Nexa Regular, arial, helvetica, sans-serif;
}
.line {
  opacity: 0.5;
}
.locLogo {
  width: 1.8em;
}
.secondContent {
  display: inline-flex;
  margin-top: 10px;

  gap: 14px;
}
.locDetails p {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.6;

  text-decoration: none;
  text-transform: none;
}
.locDetails p a {
  text-decoration: none;
}
.locDetails {
  margin: 2px;
}
.container-right {
  display: inline-flex;
  margin: 1%;

  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  width: fit-content;
}

.container-right .aboveContent :first-child {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--gray-menu-button);
  background-color: var(--primary-light);
  height: 33px;
  color: var(--primary-darker);
  font-style: normal;
  font-weight: 800;
  font-size: 10.7px;
  text-align: center;
  text-transform: uppercase;
  padding: auto;
  padding-top: 1px;
}
.container-right .aboveContent :nth-child(2) {
  width: 100%;
  border-radius: 5px;
  margin-left: 100px;
  border: 1px solid var(--gray-menu-button);
  background-color: var(--primary-light);
  height: 33px;
  color: var(--primary-darker);
  font-style: normal;
  font-weight: 800;
  font-size: 10.7px;
  text-align: center;
  text-transform: uppercase;
  padding: auto;
  padding-top: 1px;
}
.container-right .aboveContent :first-child:hover {
  background-color: var(--primary-dark);
  color: white;
}
.container-right .aboveContent :nth-child(2):hover {
  background-color: var(--primary-dark);
  color: white;
}
.aboveContent {
  width: 85%;
  margin-top: 5px;
  height: 30%;
}
.aboveContent hr {
  margin-top: 15px;
  color: var(--primary-darker);
  opacity: 0.5;
}
.container-right .belowContent .mailLogo {
  width: 1.2em;
  margin-top: 5px;
}
.belowContent {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 10px;
  width: 85%;
  margin: 0;
  padding: 0;
  height: 10%;
}
.belowContent a {
  font-size: 12px;
  color: var(--primary-darker);
  text-decoration: none;
}
.container-right .belowContent a:hover {
  text-decoration: underline;
}
.container-right .rightLine {
  opacity: 0.5;
  line-height: 20px;
  width: 85%;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.container-right .phoneLogo {
  width: 1.2em;
  margin-top: 5px;
}
.belowbelowContent {
  display: inline-flex;
  gap: 20px;
}

.belowbelowContent .number a {
  font-size: 14px;
  color: var(--primary-darker);
  text-decoration: none;
}
.belowbelowContent .number a:hover {
  text-decoration: underline;
}

.map {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}
.bodyContainer {
  display: inline-flex;
  margin-top: 20px !important;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  gap: 12px;
}
.bodyContainer .left {
  width: 60%;
  height: 40%;

  border-radius: 5px;
}
.bodyContainer .right {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 20px 0 20px 0;
  padding: 20px;
  min-width: 120px;
  max-height: 700px;
  background-color: var(--primary-dark);
  opacity: 0.9;
  border-radius: 5px;
}

.bodyContainer img {
  width: 100%;
  margin-top: 3%;
}
.left .title {
  margin: 20px;
  font-family: Nexa Regular, arial, helvetica, sans-serif;
  display: block;
  font-size: 24px;
  color: black;
  line-height: 1.2;
}
.left p {
  margin: 20px;
  line-height: 1.8;
  font-size: small;
}

.right .shareButton button {
  width: 90%;
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
  background-color: transparent;
}

.shareButton {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.shareButton button .share {
  font-family: Nexa Regular, arial, helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 900 !important;
}
.shareButton button:hover {
  background-color: var(--gray-menu-button-hover);
  color: white;
}
.right p {
  text-align: center;
  font-size: 0.7em;
  text-transform: capitalize;
  margin-top: 15px;
}
.facebookLogo {
  display: flex;
  justify-content: center;
  border: 1px solid var(--gray-menu-button);
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 100px;
  padding-top: 3px;

  background-color: transparent;
}
.facebookLogo span a {
  text-decoration: none;

  font-weight: bolder;
  color: black;
}
.facebookLogo:hover {
  border: 2px solid var(--gray-menu-button-hover);
  box-shadow: var(--gray-menu-button-hover);
}
 .shelterPage  p{
  font-size: 20px !important; 
}
.left-top{
  text-align: center;
  font-size: 30px;
}
.shelterPage a{
  font-size: 20px !important;
  text-decoration: none;
  width: 100px;
}
.title{
  font-weight: 600;
  font-size: 40px;
}
.mailLogo{
  font-size: 1.2rem;
}
.phoneLogo{
  font-size: 1.2rem;
}