{% extends "base.html" %} {% block title %}Purrfect Match Pet Adoption{%
endblock title %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/articlePageExtension.css') }}"
/>

{% endblock css %} {% block content %}
<main>
  <div class="wholePetInfo">
    <h1 class="articleName">{{article[0].article_name}}</h1>
    <div class="divider">
      <div class="divider-line"></div>
    </div>
    <div class="petImage">
      <div class="imgDivider">
        <img
          src="../static/imgs/articles/{{article[0].image}}.jpg"
          alt="clickedPetImage"
        />
      </div>
    </div>
    <div class="divider">
      <div class="divider-line"></div>
    </div>
    <div class="petInfo">
      <p>{{article[0].article_info}}</p>
    </div>
  </div>
</main>

{% endblock content %}
