{% extends "base.html" %} {% block title %}Purrfect Match Pet Adoption{%
endblock title %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/articles.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/articleCard.css') }}"
/>
{% endblock css %} {% block content %}
<main>

    <div class="post-container">
      <div class="post-thumb">
        <img
          src="../static/imgs/articles/{{article[0].image}}.jpg"
          alt="{{article[0].image}}"
          class="post-image"
        />
      </div>
      <div class="post-info">
        <h2 class="post-title"> {{article[0].article_name}}</h2>
        <p class="post-body">
          {{article[0].article_info[:300]}}...
        <a href="{{ url_for('article',articleID=article[0].article_id) }}" class="main-read-more">Read More</a>
      </div>

    </div>

  <div class="article-container">
    <div class="article-section" id="dogsArticles">
        <div class="articles-title">
            <h2 class="article-section-title">Dogs</h2>
        </div>
    

<div class="article-cards">
  <div class="article-card">
    <img           src="../static/imgs/articles/{{article[3].image}}.jpg"
          alt="{{article[3].image}}" class="article-image"/>
    <div class="article-content">
      <h2 class="article-title">{{article[3].article_name}}</h2>
      <p class="article-date">May 9, 2024</p>
      <p class="article-description">
{{article[3].article_info[:300]}}...
      </p>
      <a href="{{ url_for('article',articleID=article[3].article_id) }}" class="read-more">Read More</a>
    </div>
  </div>


  <div class="article-card">
    <img           src="../static/imgs/articles/{{article[4].image}}.jpg"
          alt="{{article[4].image}}" class="article-image"/>
    <div class="article-content">
      <h2 class="article-title">{{article[4].article_name}}</h2>
      <p class="article-date">May 9, 2024</p>
      <p class="article-description">
{{article[4].article_info[:300]}}...
      </p>
      <a href="{{ url_for('article',articleID=article[4].article_id) }}" class="read-more">Read More</a>
    </div>
  </div>



  <div class="article-card">
    <img           src="../static/imgs/articles/{{article[5].image}}.jpg"
          alt="{{article[5].image}}" class="article-image"/>
    <div class="article-content">
      <h2 class="article-title">{{article[5].article_name}}</h2>
      <p class="article-date">May 9, 2024</p>
      <p class="article-description">
{{article[5].article_info[:300]}}...
      </p>
      <a href="{{ url_for('article',articleID=article[5].article_id) }}" class="read-more">Read More</a>
    </div>
  </div>
</div>
</div>



<!-- end of dog sectionnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn -->


<div class="article-container">
  <div class="article-section" id="catsArticles">
      <div class="articles-title">
          <h2 class="article-section-title">Cats</h2>
      </div>


<div class="article-cards">
  <div class="article-card">
    <img           src="../static/imgs/articles/{{article[6].image}}.jpg"
          alt="{{article[6].image}}" class="article-image"/>
    <div class="article-content">
      <h2 class="article-title">{{article[6].article_name}}</h2>
      <p class="article-date">May 9, 2024</p>
      <p class="article-description">
{{article[6].article_info[:300]}}...
      </p>
      <a href="{{ url_for('article',articleID=article[6].article_id) }}" class="read-more">Read More</a>
    </div>
  </div>


  <div class="article-card">
    <img           src="../static/imgs/articles/{{article[7].image}}.jpg"
          alt="{{article[7].image}}" class="article-image"/>
    <div class="article-content">
      <h2 class="article-title">{{article[7].article_name}}</h2>
      <p class="article-date">May 9, 2024</p>
      <p class="article-description">
{{article[7].article_info[:300]}}...
      </p>
      <a href="{{ url_for('article',articleID=article[7].article_id) }}" class="read-more">Read More</a>
    </div>
  </div>



  <div class="article-card">
    <img           src="../static/imgs/articles/{{article[8].image}}.jpg"
          alt="{{article[8].image}}" class="article-image"/>
    <div class="article-content">
      <h2 class="article-title">{{article[8].article_name}}</h2>
      <p class="article-date">May 9, 2024</p>
      <p class="article-description">
{{article[8].article_info[:300]}}...
      </p>
      <a href="{{ url_for('article',articleID=article[8].article_id) }}" class="read-more">Read More</a>
    </div>
  </div>
</div>

<!-- end of cat sectionnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn -->



<div class="article-container">
  <div class="article-section">
      <div class="articles-title">
          <h2 class="article-section-title">Others</h2>
      </div>


<div class="article-cards">
  <div class="article-card">
    <img           src="../static/imgs/articles/{{article[1].image}}.jpg"
          alt="{{article[1].image}}" class="article-image"/>
    <div class="article-content">
      <h2 class="article-title">{{article[1].article_name}}</h2>
      <p class="article-date">May 9, 2024</p>
      <p class="article-description">
{{article[1].article_info[:300]}}...
      </p>
      <a href="{{ url_for('article',articleID=article[1].article_id) }}"" class="read-more">Read More</a>
    </div>
  </div>


  <div class="article-card">
    <img           src="../static/imgs/articles/{{article[2].image}}.jpg"
          alt="{{article[2].image}}" class="article-image"/>
    <div class="article-content">
      <h2 class="article-title">{{article[0].article_name}}</h2>
      <p class="article-date">May 9, 2024</p>
      <p class="article-description">
{{article[2].article_info[:300]}}...
      </p>
      <a href="{{ url_for('article',articleID=article[2].article_id) }}" class="read-more">Read More</a>
    </div>
  </div>



  <div class="article-card">
    <img           src="../static/imgs/articles/{{article[0].image}}.jpg"
          alt="{{article[0].image}}" class="article-image"/>
    <div class="article-content">
      <h2 class="article-title">{{article[0].article_name}}</h2>
      <p class="article-date">May 9, 2024</p>
      <p class="article-description">
{{article[0].article_info[:300]}}...
      </p>
      <a href="{{ url_for('article',articleID=article[0].article_id) }}" class="read-more">Read More</a>
    </div>
  </div>
</div>









</div>
</main>
{% endblock content %}
