{% extends "base.html" %} {% block title %}Purrfect Match Pet Adoption{%
endblock title %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"
/>
<link rel="stylesheet" href="../static/css/bootstrap4.min.css" />
{% endblock css %} {% block content %}

<main>
  <div>
    <h1 class="manageTitle">Management</h1>

    <h2 id="table_title">Manage Shelters</h2>
    <div class="managementNavigation">
      <a class="navBtn" href="{{ url_for('managePets') }}" type="button"
        >Manage Pets</a
      >
      {% if user.role =='admin' %}
      <a class="navBtn" href="{{ url_for('manageShelters') }}" type="button"
        >Manage Shelters</a
      >
      <a class="navBtn" href="{{ url_for('manageUsers') }}" type="button"
        >Manage Users</a
      >
      {% endif %}
    </div>
    <div class="table-responsive">
      <table id="manageShelters" class="table table-striped managementTable">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Po Box</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        var table = $("#manageShelters").DataTable({
          ajax: {
            url: "/api/shelters",
            method: "GET",
            dataSrc: "",
          },
          columns: [
            { data: "id" },
            { data: "name" },
            { data: "address" },
            { data: "po_box" },
            { data: "email" },
            { data: "phone_number" },
            {
              data: null,
              render: function (data, type, row) {
                var editBtn = '<a href="/pet/edit/' + data.id + '">Edit</a>';
                var deleteBtn =
                  '<a href="#" class="delete-shelter" data-id="' +
                  data.id +
                  '">Delete</a>';
                return editBtn + " | " + deleteBtn;
              },
            },
          ],
        });

        // Attach click event handler to delete buttons
        $("#manageShelters").on("click", ".delete-shelter", function (e) {
          e.preventDefault();
          var shelterID = $(this).data("id");
          deleteShelter(shelterID);
        });

        // Function to delete a shelter using AJAX
        function deleteShelter(shelterID) {
          $.ajax({
            url: "/api/shelters/" + shelterID,
            method: "DELETE",
            success: function (response) {
              // Handle success response
              console.log("Shelter deleted successfully");
              // Refresh the DataTable
              table.ajax.reload();
            },
            error: function (error) {
              // Handle error response
              console.error("Error deleting Shelter:", error);
            },
          });
        }
      });
    </script>
  </div>
</main>
{% endblock content %}
