{% extends "base.html" %} {% block title %}Purrfect Match Pet Adoption{%
endblock title %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/petPage.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/shelterCard.css') }}"
/>
{% endblock css %} {% block content %}
<main>
  <div class="wholePetInfo">
    
    <div class="linkToForm">
      <h1 class="petName">{{pet_and_shelter_info[0][0].name}}</h1>
    <a href="{{ url_for('form', petID = pet_and_shelter_info[0][2].id) }}" class="adoptionApplication">Adopt Me</a>
  </div>
    <div class="divider">
      <div class="divider-line"></div>
    </div>
    <div class="petImage">
      <div class="imgDivider">
        <img
          src="{{ url_for('static', filename='imgs/Shelters/'+ pet_and_shelter_info[0][1].name + '/' +  pet_and_shelter_info[0][0].pet_type + 's/' + pet_and_shelter_info[0][0].name + '.jpg') }}"
          alt="clickedPetImage"
        />
      </div>
    </div>

    <div class="petInfo">
      <div class="divider">
        <div class="divider-line"></div>
      </div>
      <h3 class="aboutPet">About</h3>

      <h4 class="aboutTitles">Who Am I?</h4>
      <p class="petChar char">{{pet_and_shelter_info[0][2].description}}</p>
      <h4 class="aboutTitles">Gender</h4>
      <p class="petChar char">{{pet_and_shelter_info[0][0].gender}}</p>
      <h4 class="aboutTitles">CHARACTERISTICS</h4>
      <p class="petChar char">{{pet_and_shelter_info[1]}}</p>

      <h4 class="aboutTitles">COAT LENGTH</h4>
      <p class="petCoatLength char">
        {{pet_and_shelter_info[0][0].coat_length}}
      </p>

      <h4 class="aboutTitles">HOUSE-TRAINED</h4>
      <p class="petHouseTrained char">Yes</p>

      <h4 class="aboutTitles">HEALTH</h4>
      <p class="petHealth char">{{pet_and_shelter_info[0][0].health}}</p>

      <h4 class="aboutTitles">House Trained</h4>
      <p class="petGoodWith char">
        {{pet_and_shelter_info[0][0].house_training}}
      </p>

      <h4 class="aboutTitles">Good In Home</h4>
      <p class="petGoodWith char">
        {{pet_and_shelter_info[0][0].good_in_home}}
      </p>

      <h4 class="aboutTitles">Activity Level</h4>
      <p class="petPreference char">
        {{pet_and_shelter_info[0][0].activity_level}}
      </p>

      <h4 class="aboutTitles">ADOPTION FEE</h4>
      <p class="petAdoptionFee char">
        {{pet_and_shelter_info[0][0].adoption_fee}}
      </p>
    </div>

    <div class="shelterInfo"></div>
  </div>
  <a href="{{ url_for('shelter', shelterID = pet_and_shelter_info[0][1].id) }}">
    <div class="shelterCard">
      <div class="shelterImg">
        <img
          src="{{ url_for('static', filename='imgs/Shelters/'+ pet_and_shelter_info[0][1].name + '/logo.png') }}"
          alt=""
          class="shelterLogo"
        />
      </div>
      <div class="shelterCardBody">
        <h1>{{pet_and_shelter_info[0][1].name}}</h1>
        <h3>{{pet_and_shelter_info[0][1].po_box}}</h3>
        <div class="map">
          <iframe
            src="{{pet_and_shelter_info[0][1].googlemap_link}}"
            width="100%"
            height="50%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="shelterInfo">
          <div class="location">
            <img
              src="{{ url_for('static', filename='imgs/svg/location-pin-svgrepo-com.svg') }}"
              alt="locationIcon"
            />
            <div>
              <h4>Location Address</h4>
              <p class="locationAddress">
                {{pet_and_shelter_info[0][1].address}}
              </p>
            </div>
          </div>
          <div class="divider">
            <div class="divider-line"></div>
          </div>
          <div class="mail">
            <img
              src="{{ url_for('static', filename='imgs/svg/mail-svgrepo-com.svg') }}"
              alt="mailIcon"
            />
            <a href="info@valleyspcalavallee.com" class="emailLink"
              ><p class="email">{{pet_and_shelter_info[0][1].email}}</p></a
            >
          </div>
          <div class="divider">
            <div class="divider-line"></div>
          </div>
          <div class="phone">
            <img
              src="{{ url_for('static', filename='imgs/svg/phone-svgrepo-com.svg') }}"
              alt="mailIcon"
            />
            <p class="phoneNb">{{pet_and_shelter_info[0][1].phone_number}}</p>
          </div>
        </div>
      </div>
    </div></a
  >
</main>
{% endblock content %}
