{% extends "base.html" %} {% block title %}Purrfect Match Pet Adoption{%
endblock title %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/petPage.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/shelterCard.css') }}"
/>
{% endblock css %} {% block content %}
<main>
  <div class="wholePetInfo">
    <h1 class="petName">Bingus</h1>
    <div class="divider">
      <div class="divider-line"></div>
    </div>
    <div class="petImage">
      <div class="imgDivider">
        <img
          src="{{ url_for('static', filename='imgs/Pets/' + ID + '.jpg') }}"
          alt="clickedPetImage"
        />
      </div>
    </div>
    <div class="divider">
      <div class="divider-line"></div>
    </div>
    <div class="petInfo">
      <p class="petTags">Adult . Male . Medium . Tabby (Brown / Chocolate)</p>
      <div class="divider">
        <div class="divider-line"></div>
      </div>
      <h3 class="aboutPet">About</h3>

      <h4 class="aboutTitles">CHARACTERISTICS</h4>
      <p class="petChar char">Quiet, Playful, Independent, Curious</p>

      <h4 class="aboutTitles">COAT LENGTH</h4>
      <p class="petCoatLength char">Short</p>

      <h4 class="aboutTitles">HOUSE-TRAINED</h4>
      <p class="petHouseTrained char">Yes</p>

      <h4 class="aboutTitles">HEALTH</h4>
      <p class="petHealth char">Vaccinations up to date, spayed / neutered.</p>

      <h4 class="aboutTitles">GOOD IN A HOME WITH</h4>
      <p class="petGoodWith char">Other cats.</p>

      <h4 class="aboutTitles">PREFERS A HOME WITHOUT</h4>
      <p class="petPreference char">Dogs, other animals.</p>

      <h4 class="aboutTitles">ADOPTION FEE</h4>
      <p class="petAdoptionFee char">$180.00</p>
    </div>

    <div class="shelterInfo"></div>
  </div>
  <a href="{{ url_for('shelter', shelterID = 5) }}">
    <div class="shelterCard">
      <div class="shelterImg">
        <img
          src="{{ url_for('static', filename='imgs/svg/charity.svg') }}"
          alt=""
          class="shelterLogo"
        />
      </div>
      <div class="shelterCardBody">
        <h1>Valley SPCA La Vallee inc.</h1>
        <h3>Dsl De Drummond, NB</h3>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13255.928249635665!2d35.4976952091655!3d33.838573221807486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f19c98f32763d%3A0x3a56fac9bfdf2eec!2sCroissant%20Al-Doha!5e0!3m2!1sen!2slb!4v1711284572730!5m2!1sen!2slb"
            width="100%"
            height="50%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="shelterInfo">
          <div class="location">
            <img
              src="{{ url_for('static', filename='imgs/svg/location-pin-svgrepo-com.svg') }}"
              alt="locationIcon"
            />
            <div>
              <h4>Location Address</h4>
              <p class="locationAddress">
                15 Falls Brook Hill Road Dsl De Drummond, NB E3Y 1X4
              </p>
            </div>
          </div>
          <div class="divider">
            <div class="divider-line"></div>
          </div>
          <div class="mail">
            <img
              src="{{ url_for('static', filename='imgs/svg/mail-svgrepo-com.svg') }}"
              alt="mailIcon"
            />
            <a href="info@valleyspcalavallee.com" class="emailLink"
              ><p class="email">info@valleyspcalavallee.com</p></a
            >
          </div>
          <div class="divider">
            <div class="divider-line"></div>
          </div>
          <div class="phone">
            <img
              src="{{ url_for('static', filename='imgs/svg/phone-svgrepo-com.svg') }}"
              alt="mailIcon"
            />
            <p class="phoneNb">(506) 473-1803</p>
          </div>
        </div>
      </div>
    </div></a
  >
</main>
{% endblock content %}
