{% extends "base.html" %}
    {% block title %}Results for {{ petType }} called {{ petName }}{% endblock title %}
    
   {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
    
    {% endblock css %}
   
   

    
    {% block content %}
      <main class="cd-main-content">
        <div class="cd-tab-filter-wrapper">
          <div class="cd-tab-filter">
            <ul class="cd-filters">
              <li class="placeholder">
                <a data-type="all" href="#0">All</a>
                <!-- selected option on mobile -->
              </li>
              <li class="filter">
                <a {% if petType == 'all' %}class = 'selected'{% endif %} href="{{ url_for('search', type='all',name= petName,characteristic=petCharacteristic, coat=petCoat, activity=petActivity, house=petHouse) }}" data-type="all">All</a>
              </li>
              <li class="filter" >
                <a {% if petType == 'cat' %}class = 'selected'{% endif %} href="{{ url_for('search', type='cat',name= petName,characteristic=petCharacteristic, coat=petCoat, activity=petActivity, house=petHouse) }}" data-type="cat">Cat</a>
              </li>
              <li class="filter" >
                <a {% if petType == 'dog' %}class = 'selected'{% endif %} href="{{ url_for('search', type='dog',name= petName,characteristic=petCharacteristic, coat=petCoat, activity=petActivity, house=petHouse) }}" data-type="dog">Dog</a>
              </li>
              <li class="filter" >
                <a {% if petType == 'other' %}class = 'selected'{% endif %} href="{{ url_for('search', type='other',name= petName,characteristic=petCharacteristic, coat=petCoat, activity=petActivity, house=petHouse) }}" data-type="other">Others</a>
              </li>
            </ul>
            <!-- cd-filters -->
          </div>
          <!-- cd-tab-filter -->
        </div>
        <!-- cd-tab-filter-wrapper -->
  
        <section class="cd-gallery">
          <ul>
            {% for pet,shelter_name,PetDescription in filteredPets %}
            <li class="mix color-1 radio1 radio3 option1 option3 option4 color-2 check2 radio2 option2 all">
              <a href="{{ url_for('pet', petID=pet.id) }}">  <figure class="card" >
                
                <img src="{{ url_for('static', filename='imgs/Shelters/'+ shelter_name + '/' +  pet.pet_type + 's/' + pet.name + '.jpg') }}" alt="Pet Image" />
                <figcaption>
                  <h3>{{ pet.name }}<h3>
                  <p>{{ PetDescription }}</p>
                </figcaption>
              </figure></a>
            </li>
            {% endfor%}
          
            <li class="gap"></li>
            <li class="gap"></li>
            <li class="gap"></li>
            
          </ul>
          <div class="cd-fail-message">No results found</div>
          <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('search', type=petType,name= petName,page=page-1,characteristic=petCharacteristic, coat=petCoat, activity=petActivity, house=petHouse) }}" class="Previous_Page">Previous</a>
            {% endif %}
            <span class="pages_nb">Page {{page}} of {{total_pages}}</span>
            {% if page < total_pages %}
            <a href="{{ url_for('search', type=petType,name= petName,page=page+1,characteristic=petCharacteristic, coat=petCoat, activity=petActivity, house=petHouse ) }}" class="Next_Page">Next</a>
            {% endif %}
          </div>
        </section>

 
        <!-- cd-gallery -->
  
        <div class="cd-filter">
          <form>
            <div class="cd-filter-block">
              <h4>Search</h4>
                <input id="nameInput" type="search" placeholder="Enter your pet name" />
              <!-- cd-filter-content -->
            </div>
            <!-- cd-filter-block -->
  
            <div class="cd-filter-block">
              <h4>Characteristic</h4>
              <input id="characteristicInput" type="search" placeholder="Enter pets characteristics" />
              <!-- cd-filter-content -->
            </div>
            <!-- cd-filter-block -->
  
            <div class="cd-filter-block">
              <h4>Coat Length</h4>
  
              <div class="cd-filter-content">
                <div class="cd-select cd-filters">
                  <select class="filter" name="selectThis" id="coatInput">
                    <option value="all">Choose an option</option>
                    <option value="Short">Short</option>
                    <option value="Medium">Medium</option>
                    <option value="Long">Long</option>
                    <option value="Hairless">Hairless</option>
                  </select>
                </div>
                <!-- cd-select -->
              </div>
              <!-- cd-filter-content -->
            </div>
            <div class="cd-filter-block">
              <h4>Activity Levels:</h4>
  
              <div class="cd-filter-content">
                <div class="cd-select cd-filters">
                  <select class="filter" name="selectThis" id="activityInput">
                    <option value="all">Choose an option</option>
                    <option value="Active">Active</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Low">Low</option>
                  </select>
                </div>
                <!-- cd-select -->
              </div>
              <!-- cd-filter-content -->
            </div>
            <!-- cd-filter-block -->
  
            <div class="cd-filter-block">
              <h4>House Training</h4>
  
              <ul class="cd-filter-content cd-filters list">
                <li>
                  <input
                    class="filter"
                    value="all"
                    type="radio"
                    name="radioButton"
                    id="AllHouse"
                    checked
                  />
                  <label class="radio-label" for="All">All</label>
                </li>
  
                <li>
                  <input
                    class="filter"
                    value="yes"
                    type="radio"
                    name="radioButton"
                    id="YesHouse"
                  />
                  <label class="radio-label" for="Yes">Yes</label>
                </li>
  
                <li>
                  <input
                    class="filter"
                    value="no"
                    type="radio"
                    name="radioButton"
                    id="NoHouse"
                  />
                  <label class="radio-label" for="No">No</label>
                </li>
              </ul>
              <!-- cd-filter-content -->
            </div>
            <!-- cd-filter-block -->
            <button class="apply-filter" type="button" onclick="applyFilter(event,'{{ petType }}','{{ name }}','{{ petCharacteristic }}','{{ petCoat }}','{{ petActivity }}'),'{{ petHouse }}'">Filter</button>
          </form>
  
          <a href="#0" class="cd-close">Close</a>
        </div>
        <!-- cd-filter -->
  
        <a href="#0" class="cd-filter-trigger">Filters</a>
      </main>
      {% endblock content %}

    
      {% block scripts %}
    <script src="{{ url_for('static', filename='js/nav.js') }}">
      document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
          <!-- cd-main-content -->
          <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
          <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
          <script src="{{ url_for('static', filename='js/jquery.mixitup.min.js') }}"></script>
          <script src=" {{ url_for('static', filename='js/main.js') }}"></script>
          <script>
            function applyFilter(event,petType,name,characteristic,coat,activity,house) {
              event.preventDefault(); // Prevents the default behavior of the anchor tag
              console.log(name);
              if(document.getElementById('nameInput').value == ""){
                name = name;
                }
              else{
                
                name = document.getElementById('nameInput').value;
              }
              if(document.getElementById('characteristicInput').value == ""){
                
                characteristic = characteristic;}
                else{
                  characteristic = document.getElementById('characteristicInput').value;
              }
              var coatElement = document.getElementById('coatInput');
              var coat = coatElement.value;
              var activityElement = document.getElementById('activityInput');
              var activity = activityElement.value;
              var houseButton = document.querySelector('input[name="radioButton"]:checked');
              var house = houseButton ? houseButton.value : '';
          
              // Use the value to construct the URL for redirection
              var url = "/search/" + petType  +"/" + name + "/" + characteristic + "/" + coat  + "/" + activity  + "/" + house;
              console.log(url);
          
              // Redirect to the constructed URL
              window.location.href = url;
            }
          </script>
          <!-- Resource jQuery -->
          {% endblock scripts %}
