{% extends "base.html" %}
    {% block title %}Results for {{ petType }} called {{ petName }}{% endblock title %}
    
   {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
    
    {% endblock css %}
   
   

    
    {% block content %}
      <main class="cd-main-content">
        <div class="cd-tab-filter-wrapper">
          <div class="cd-tab-filter">
            <ul class="cd-filters">
              <li class="placeholder">
                <a data-type="all" href="#0">All</a>
                <!-- selected option on mobile -->
              </li>
              <li class="filter">
                <a {% if petType == 'all' %}class = 'selected'{% endif %} href="{{ url_for('search', type='all',name= petName ) }}" data-type="all">All</a>
              </li>
              <li class="filter" data-filter=".color-1">
                <a {% if petType == 'cat' %}class = 'selected'{% endif %} href="{{ url_for('search', type='cat',name= petName ) }}" data-type="cat">Cat</a>
              </li>
              <li class="filter" data-filter=".color-2">
                <a {% if petType == 'dog' %}class = 'selected'{% endif %} href="{{ url_for('search', type='dog',name= petName ) }}" data-type="dog">Dog</a>
              </li>
              <li class="filter" data-filter=".color-3">
                <a {% if petType == 'other' %}class = 'selected'{% endif %} href="{{ url_for('search', type='other',name= petName ) }}" data-type="other">Others</a>
              </li>
            </ul>
            <!-- cd-filters -->
          </div>
          <!-- cd-tab-filter -->
        </div>
        <!-- cd-tab-filter-wrapper -->
  
        <section class="cd-gallery">
          <ul>
            {% for pet,shelter_name,PetDescription in filteredPets %}
            <li class="mix color-2 check2 radio2 option2">
              <a href="pet.html">  <figure class="card" >
                
                <img src="{{ url_for('static', filename='imgs/Shelters/'+ shelter_name + '/' +  pet.pet_type + 's/' + pet.name + '.jpg') }}" alt="Pet Image" />
                <figcaption>
                  <h3>{{ pet.name }}<h3>
                  <p>{{ PetDescription }}</p>
                </figcaption>
              </figure></a>
            </li>
            {% endfor%}
          
            <li class="gap"></li>
            <li class="gap"></li>
            <li class="gap"></li>
            
          </ul>
          <div class="cd-fail-message">No results found</div>
        </section>
      
        <!-- cd-gallery -->
  
        <div class="cd-filter">
          <form>
            <div class="cd-filter-block">
              <h4>Search</h4>
  
              <div class="cd-filter-content">
                <input type="search" placeholder="Enter your pet name" />
              </div>
              <!-- cd-filter-content -->
            </div>
            <!-- cd-filter-block -->
  
            <div class="cd-filter-block">
              <h4>Personality Traits</h4>
  
              <ul class="cd-filter-content cd-filters list">
                <li>
                  <input
                    class="filter"
                    data-filter="Affectionate"
                    type="checkbox"
                    id="Affectionate"
                  />
                  <label class="checkbox-label" for="Affectionate">Affectionate</label>
                </li>
  
                <li>
                  <input
                    class="filter"
                    data-filter="Independent"
                    type="checkbox"
                    id="Independent"
                  />
                  <label class="checkbox-label" for="Independent">Independent</label>
                </li>
  
                <li>
                  <input
                    class="filter"
                    data-filter="Social"
                    type="checkbox"
                    id="Social"
                  />
                  <label class="checkbox-label" for="Social">Social</label>
                </li>
                <li>
                  <input
                    class="filter"
                    data-filter="Shy"
                    type="checkbox"
                    id="Shy"
                  />
                  <label class="checkbox-label" for="Shy">Shy</label>
                </li>
                <li>
                  <input
                    class="filter"
                    data-filter="Playful"
                    type="checkbox"
                    id="Playful"
                  />
                  <label class="checkbox-label" for="Playful">Playful</label>
                </li>
                <li>
                  <input
                    class="filter"
                    data-filter="Lap Cat"
                    type="checkbox"
                    id="Lap Cat"
                  />
                  <label class="checkbox-label" for="Lap Cat">Lap Cat</label>
                </li>
              </ul>
              <!-- cd-filter-content -->
            </div>
            <!-- cd-filter-block -->
  
            <div class="cd-filter-block">
              <h4>Coat Length</h4>
  
              <div class="cd-filter-content">
                <div class="cd-select cd-filters">
                  <select class="filter" name="selectThis" id="selectThis">
                    <option value="">Choose an option</option>
                    <option value="Short">Short</option>
                    <option value="Medium">Medium</option>
                    <option value="Long">Long</option>
                    <option value="Hairless">Hairless</option>
                  </select>
                </div>
                <!-- cd-select -->
              </div>
              <!-- cd-filter-content -->
            </div>
            <div class="cd-filter-block">
              <h4>Activity Levels:</h4>
  
              <div class="cd-filter-content">
                <div class="cd-select cd-filters">
                  <select class="filter" name="selectThis" id="selectThis">
                    <option value="">Choose an option</option>
                    <option value="Active">Active</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Low">Low</option>
                  </select>
                </div>
                <!-- cd-select -->
              </div>
              <!-- cd-filter-content -->
            </div>
            <!-- cd-filter-block -->
  
            <div class="cd-filter-block">
              <h4>House Training</h4>
  
              <ul class="cd-filter-content cd-filters list">
                <li>
                  <input
                    class="filter"
                    data-filter=""
                    type="radio"
                    name="radioButton"
                    id="All"
                    checked
                  />
                  <label class="radio-label" for="All">All</label>
                </li>
  
                <li>
                  <input
                    class="filter"
                    data-filter=".radio2"
                    type="radio"
                    name="radioButton"
                    id="Yes"
                  />
                  <label class="radio-label" for="Yes">Yes</label>
                </li>
  
                <li>
                  <input
                    class="filter"
                    data-filter=".radio3"
                    type="radio"
                    name="radioButton"
                    id="No"
                  />
                  <label class="radio-label" for="No">No</label>
                </li>
              </ul>
              <!-- cd-filter-content -->
            </div>
            <!-- cd-filter-block -->
            <button class="apply-filter" type="submit">Filter</button>
          </form>
  
          <a href="#0" class="cd-close">Close</a>
        </div>
        <!-- cd-filter -->
  
        <a href="#0" class="cd-filter-trigger">Filters</a>
      </main>
      {% endblock content %}

    
      {% block scripts %}
    <script src="{{ url_for('static', filename='js/nav.js') }}">
      document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
          <!-- cd-main-content -->
          <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
          <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
          <script src="{{ url_for('static', filename='js/jquery.mixitup.min.js') }}"></script>
          <script src=" {{ url_for('static', filename='js/main.js') }}"></script>
          <!-- Resource jQuery -->
          {% endblock scripts %}
